*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
body{
    font-size: 20px;
}
.js_list{
    width: 100%;
    display: flex;
}
.js_list li{
    flex: 1;
    height: 60px;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.js_list .active{
    color: #f00;
    text-decoration: underline;
}